<?xml version="1.0"?>
<!--
  Magento Module developed by Júlio

  @author Júlio Barbosa de Oliveira
  @copyright (c) 2024.

  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="JulioBarbosa\BombardierPopulateCatalog\Api\ProductManagementInterface"
                type="JulioBarbosa\BombardierPopulateCatalog\Model\ProductManagement" />
    <preference for="JulioBarbosa\BombardierPopulateCatalog\Api\CategoryManagementInterface"
                type="JulioBarbosa\BombardierPopulateCatalog\Model\CategoryManagement" />
    <preference for="JulioBarbosa\BombardierPopulateCatalog\Api\Report\ReportCsvGeneratorInterface"
                type="JulioBarbosa\BombardierPopulateCatalog\Model\Report\ReportCsvGenerator" />
    <preference for="JulioBarbosa\BombardierPopulateCatalog\Api\Email\ReportEmailSenderInterface"
                type="JulioBarbosa\BombardierPopulateCatalog\Model\Email\ReportEmailSender" />
    <preference for="\Magento\Framework\Mail\Template\TransportBuilder"
                type="\JulioBarbosa\BombardierPopulateCatalog\Model\Email\TransportBuilderWithAttachment" />
</config>
